# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Atom-specific items
.atom/atom-shell
.atom/blob-store
.atom/compile-cache
.atom/dev
.atom/packages
.atom/recovery
.atom/storage
.atom/.node-gyp
.atom/.npm
.atom/.apm
