"*":
  autosave:
    enabled: true
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "encoding-selector"
      "grammar-selector"
      "language-rust-bundled"
      "incompatible-packages"
      "archive-view"
      "autoflow"
      "background-tips"
      "github"
      "language-clojure"
      "language-coffee-script"
      "language-php"
      "language-objective-c"
      "language-less"
      "language-ruby-on-rails"
      "language-toml"
      "metrics"
      "open-on-github"
      "package-generator"
      "wrap-guide"
      "welcome"
      "update-package-dependencies"
      "command-palette"
      "dev-live-reload"
      "timecop"
    ]
    projectHome: "/Users/jneer/Projects"
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 11
    lineHeight: 1.2
    maxScreenLineLength: 1024
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "529e4cbd-f529-455f-848a-079f8373bfdc"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "seti-classic": {}
  "seti-syntax":
    dynamicColor: false
    themeColor: "Steel"
  "seti-ui":
    compactView: true
    disableAnimations: true
    hideProjectTab: true
  "status-bar":
    fullWidth: false
