packages: [
  "atom-beautify"
  "atom-cfn-lint"
  "atom-cobol"
  "busy-signal"
  "count-word"
  "intentions"
  "language-latex"
  "language-nginx"
  "language-terraform"
  "language-yaml-cloudformation"
  "linter"
  "linter-eslint"
  "linter-flake8"
  "linter-remark"
  "linter-ui-default"
  "package-sync"
  "saveallthetime"
  "seti-syntax"
  "seti-ui"
  "sort-lines"
  "Sublime-Style-Column-Selection"
]
